
html, body {
    width: 100%;
    height: 100%;
}
body {
    background: #fff url(../images/prism-bg.png) repeat;
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #777777;
}
/**** GLOBAL HEADER STYLES [START] ****/
#site-header #site-nav {
    border-bottom: #cccccc 2px solid;
}
#site-header #site-nav .logo {
    background: #4aaaa5;
    float: left;
}
#site-header #site-nav .logo h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-bottom: 0;
}
#site-header #site-nav .logo h1 a {
    display: block;
    color: #fff;
    font-size: inherit;
    padding: 30px 30px;
}
#site-header #site-nav #site-links {
    flex-direction: row-reverse;
    align-items: stretch;
    font-size: 20px;
}
#site-header #site-nav .navbar-toggler {
    background-color: #4aaaa5!important;
    position: absolute;       
    top: 35px;
    left: 15px;
    border: 1px dotted #ccc;
    box-shadow: 0 0 3px 0px #444;
}
#site-header #site-nav #site-links .navbar-nav li {
    float: left;
    border-right: 2px solid;
    border-color: #dddddd;
}
#site-header #site-nav #site-links .navbar-nav li:last-of-type {
    border-right: none;
}
#site-header #site-nav #site-links .navbar-nav li a {
    display: block;
    padding: 40px 37px;
    color: #777777;
}
#site-header #site-nav #site-links .navbar-nav li a:hover {
    text-decoration: none;
}
/**** GLOBAL HEADER STYLES [END] ****/
/**** GLOBAL STYLES [START] ****/
#main-content {
    min-height: 69vh;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
#main-content .content-header h2 {
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
    font-weight: bold;
    color: #4aaaa5;
    padding: 15px 0;
    margin-bottom: 15px;
    border-bottom: 2px solid #ccc;
}
#main-content .content-body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer {
    box-sizing: content-box;
    background-color: #666666;
    border-top: 10px solid #4aaaa5;
}
footer h6 {
    color: #dddddd;   
}
/**** GLOBAL STYLES [END] ****/
/**** BIO STYLES [START] ****/
#main-content #about-me .content-body {
    padding-top: 10px;
}
/**** BIO STYLES [END] ****/
/**** PORTFOLIO STYLES [START] ****/
#main-content #portfolio .content-body {
    margin: 0 -15px;
}
#main-content #portfolio .content-body .links-grid .grid-item {
    position: relative;
    display: inline-flex;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: hidden;
}

#main-content #portfolio .content-body .links-grid .grid-item a {
    display: contents;
}
#main-content #portfolio .content-body .links-grid .grid-item img {
    min-width: 100%;
    height: auto;
}
#main-content #portfolio .content-body .links-grid .grid-item .grid-description {
    background: #4aaaa5;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    padding: 10px;
    margin: 0 15px;
    text-align: center;
    color: #fff;
}
/**** PORTFOLIO STYLES [END] ****/
/**** CONTACT STYLES [START] ****/
#main-content #contact .content-body label,
#main-content #contact .content-body input {
    display: block;
}
#main-content #contact .content-body label {
    margin-top: 20px;
}
#main-content #contact .content-body input,
#main-content #contact .content-body textarea {
    width: 100%;
    font-size: 16px;
    padding: 5px;
    border: 2px solid #dddddd;
    box-sizing: border-box;
}
#main-content #contact .content-body #submit {
    background: #4aaaa5;
    width: auto;
    padding: 10px 20px;
    margin: 15px 0;
    color: #fff;
    text-transform: capitalize;
}
/**** CONTACT STYLES [END] ****/
/**** TRANSITION STYLES [START] ****/
@media (any-hover: hover) {
    #site-header #site-nav #site-links .navbar-nav li a:hover,
    #site-header #site-nav .logo:hover,
    #site-header #site-nav .logo:hover h1,
    #main-content #about-me .content-body img:hover,
    #main-content #contact .content-body input:focus,
    #main-content #contact .content-body textarea:focus,
    #main-content #contact .content-body #submit:active,
    #main-content #portfolio .content-body .links-grid .grid-item a:hover .grid-description {
        -webkit-transition: all 350ms ease-out 0s;
        transition: all 350ms ease-out 0s;
    }

    #site-header #site-nav #site-links .navbar-nav li a:hover {
        color: #fff;
        background: #4aaaa5;
    }

    #site-header #site-nav .logo:hover {
        background: #333;
    }

    #site-header #site-nav .logo:hover h1 {
        color: #4aaaa5;
    }

    #main-content #about-me .content-body img:hover {
        -webkit-filter: blur(5px) grayscale(45%);
        filter: blur(5px) grayscale(45%);
    }
    #main-content #contact .content-body textarea:focus,
    #main-content #contact .content-body input:focus {
        border: 4px solid #ff0000;
    }

    #main-content #contact .content-body #submit:active {
        color: #4aaaa5;
        background: #777777;
    }
}
/**** TRANSITION STYLES [END] ****/
/**** GLOBAL RESPONSIVE STYLES [START] ****/
@media screen and (min-width: 420px) {
    #main-content #about-me .content-body figure {
        float: left;
    }
}
@media screen and (max-width: 420px) {
    #site-header #site-nav .logo h1 {
        max-width: 165px; /*clips logo to say matt e */
        overflow: hidden;
        margin: 0 auto;
    }
    #main-content #contact .content-body #submit {
        width: 100%;
    }
}
@media screen and (min-width: 768px) {
    #main-content #about-me .content-body p {
        margin-right: 3rem;
    }
    #main-content #portfolio .content-body .links-grid .grid-item .grid-description {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
    #main-content #portfolio .content-body .links-grid .grid-item a:hover .grid-description {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
}
@media screen and (max-width: 767px) {
    #site-header #site-nav .logo {
        width: 100%;
        text-align: center;
    }
    #site-header #site-nav #site-links {
        border: 1px solid #ccc;
    }
    #site-header #site-nav #site-links .navbar-nav li {
        border-right: none;
        border-bottom: 1px solid #ccc;
    }
    #site-header #site-nav #site-links .navbar-nav li:last-of-type {
        border-bottom: none;
    }
    #site-header #site-nav #site-links .navbar-nav li a {
        padding-top: 20px;
        padding-bottom;
        border-color:  20px;
    }
}
/**** GLOBAL RESPONSIVE STYLES [END] ****/