
html, body {
    width: 100%;
    height: 100%;
}
body {
    background: #fff url(../images/prism-bg.png) repeat;
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #777777;
}
/**** GLOBAL HEADER STYLES [START] ****/
#site-header #site-nav {
    border-bottom: #cccccc 2px solid;
}
#site-header #site-nav .logo {
    background: #4aaaa5;
    float: left;
    padding: 22px 30px;
}
#site-header #site-nav .logo h1 a {
    display: block;
    color: #fff;
    font-size: inherit;
}
#site-header #site-nav #site-links {
    flex-direction: row-reverse;
    align-items: stretch;
    font-size: 20px;
}
#site-header #site-nav .navbar-toggler {
    background-color: #4aaaa5!important;
}
#site-header #site-nav #site-links .navbar-nav li {
    float: left;
    border-right: 2px solid #dddddd;
}
#site-header #site-nav #site-links .navbar-nav li:last-of-type {
    border-right: none;
}
#site-header #site-nav #site-links .navbar-nav li a {
    display: block;
    padding: 40px 37px;
    color: #777777;
}
#site-header #site-nav #site-links .navbar-nav li a:hover {
    text-decoration: none;
}
/**** GLOBAL HEADER STYLES [END] ****/
/**** GLOBAL STYLES [START] ****/
#main-content {
    min-height: 69vh;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
#main-content .content-header {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 25px;
}
#main-content .content-header h2 {
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
    font-weight: bold;
    color: #4aaaa5;
    padding: 15px 0 0;
}
#main-content .content-body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer {
    box-sizing: content-box;
    background-color: #666666;
    border-top: 10px solid #4aaaa5;
}
footer h6 {
    color: #dddddd;   
}
/**** GLOBAL STYLES [END] ****/
/**** PORTFOLIO STYLES [START] ****/
#main-content #portfolio .content-body .links-grid .grid-item {
    position: relative;
    display: inline-flex;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: hidden;
}

#main-content #portfolio .content-body .links-grid .grid-item a {
    display: contents;
}
#main-content #portfolio .content-body .links-grid .grid-item img {
    min-width: 100%;
    height: auto;
}
#main-content #portfolio .content-body .links-grid .grid-item .grid-description {
    background: #4aaaa5;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
    color: #fff;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
}
/**** PORTFOLIO STYLES [END] ****/
/**** CONTACT STYLES [START] ****/
#main-content #contact .content-body ul li {
    margin: 15px 0;
    
}
#main-content #contact .content-body label,
#main-content #contact .content-body input {
    display: block;
}

#main-content #contact .content-body input,
#main-content #contact .content-body textarea {
    width: 100%;
    font-size: 16px;
    padding: 5px;
    border: 2px solid #dddddd;
    box-sizing: border-box;
}

#main-content #contact .content-body #submit {
    background: #4aaaa5;
    width: auto;
    padding: 10px 20px;
    color: #fff;
    text-transform: capitalize;
}
/**** CONTACT STYLES [END] ****/
/**** GLOBAL RESPONSIVE STYLES [START] ****/
@media screen and (min-width: 420px) {
    #main-content #about-me .content-body figure {
        float: left;
    }
}
@media screen and (min-width: 992px) {
    #main-content #about-me .content-body p {
        margin-right: 3rem;
    }
}
/**** GLOBAL RESPONSIVE STYLES [END] ****/